[Unit]
Description=Sensor Node Motion Sensor Trigger
After=sn_sender.service

[Service]
ExecStart=/home/pi/sensornet/HomeAutomation/piSensorNode/sn_motion_sensor

[Install]
WantedBy=multi-user.target
